*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
Old_Projects/VideoFramesInAssetFolderTracker/
Old_Projects/vision-quickstart/
.idea
Old_Projects/AndroidAndOpenCV/
Old_Projects/Integrating_opencv/
Old_Projects/Template_matching_on_continuous_images
Old_Projects/Template_matching_on_static_images